/* george lychock MS3 stylesheet */
/* NOTES:
    - Except for base html elements, common colors, and Bootstrap styles, all other custom selectors names begin with "us" to make it easier to see in the markup */


/* ######## CSS TOC - In Order of Appearance: */
/* @imports */
/* Bootstrap Overides */
/* Base Elements */
/* Common Text Colors */
/* Common Background Colors*/
/* Common Button Colors*/
/* Spacers */
/* Font Styles */
/* Common Positioning */
/* Common Other*/
/* Buttons */
/* Nav */
/* Banner */
/* Header */
/* Mobile Library Dropdown */
/* Project Form */
/* Dashboard */
/* Dashboard Panels */
/* Active Projects Dashboard /*
/* Active Widgets Dashboard */
/* Progress Bar */
/* Widget Library */
/* Footer */
/* Social Links */
/* @media */
/* Color Schemes */




/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap');

/* Bootstrap Overides */
button:focus {
    outline: none;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }


/* Common Positioning */
.us-text-center {
    text-align: center;
}

/* Banner */
.us-banner-top {
    text-align: center;
    background-color: antiquewhite;
}

/* header */
#logo-image {
    background: url("https://www.georgelychock-career.com/pages/_sandbox/MS3/images/logo.png") no-repeat center center;
    height: 800px;
    width: 100%;
    animation: logo-zoom 4s forwards;
  }
  
  
  @keyframes logo-zoom {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(.25) translate(-150%, -125%) rotate(0.25turn);
    }
  }

#logo-outer {
    height: 1000px;
    width: 1000px;
    overflow: hidden;
    position: relative;
    animation: logo-outer 4s forwards;
}

@keyframes logo-outer {
    from {
        height: 1000px;
    }
    to {
        height: 300px;
    }
  }



















  