/* george lychock MS3 stylesheet */
/* NOTES:
    - Except for base html elements, common colors, and Bootstrap styles, all other custom selectors names begin with "us" to make it easier to see in the markup */


/* ######## CSS TOC - In Order of Appearance: */
/* @imports */
/* Bootstrap Overides */
/* Base Elements */
/* Common Text Colors */
/* Common Background Colors*/
/* Common Button Colors*/
/* Spacers */
/* Font Styles */
/* Common Positioning */
/* Common Other*/
/* Buttons */
/* Nav */
/* Banner */
/* Header */
/* Mobile Library Dropdown */
/* Project Form */
/* Dashboard */
/* Dashboard Panels */
/* Active Projects Dashboard /*
/* Active Widgets Dashboard */
/* Progress Bar */
/* Widget Library */
/* Footer */
/* Social Links */
/* @media */
/* Color Schemes */




/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap');

/* Bootstrap Overides */
button:focus {
    outline: none;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }

  /* Base Elements */
body {
    background-color: #fff;
    color: #000;
    font-family: 'Raleway', sans-serif;
}



h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Montserrat', 'FreeSans', sans-serif;
}

/* Common Positioning */
.us-text-center {
    text-align: center;
}

/* Banner */
.us-banner-top {
    text-align: center;
    background-color: antiquewhite;
}

/* Header */
#logo-image {
    background: url("https://www.georgelychock-career.com/pages/_sandbox/MS3/images/logo.svg") no-repeat center center;
    height: 1000px;
    width: 100%;
    animation: logo-zoom 4s forwards;
  }
  
  
  @keyframes logo-zoom {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(.25) translate(-125%, -125%) rotate(90deg);
    }
  }

#logo-outer {
    height: 1000px;
    width: 800px;
    overflow: hidden;
    position: relative;
    animation: logo-outer 4s forwards;
}

@keyframes logo-outer {
    from {
        height: 1000px;
    }
    to {
        height: 300px;
    }
  }

/* Highest Rated */
.us-btn-rated-a {
    margin: 10px;
    padding: 5px;
    border-radius: 100% !important;
    width: 160px;
    height: 160px;
    font-size: 1rem !important;
}

.us-btn-rated-b {
    margin: 10px;
    padding: 5px;
    border-radius: 100% !important;
    width: 120px;
    height: 120px;
    font-size: .9rem !important;
}

.us-btn-rated-c {
    margin: 10px;
    padding: 5px;
    border-radius: 100% !important;
    width: 80px;
    height: 80px;
    font-size: .8rem !important;
}














  